<div class="container-fluid">
<div class="col-md-offset-1">
  <h1>
    Welcome to QuickLunch  !
  </h1>
</div>
<div class="container">
<button (click)="ShowAllProds()" class="btn btn-info">Listar Productos</button>
<button (click)="AddNuevoProd()" class="btn btn-info" style="margin-left: 10px;">Add Producto</button>
<button (click)="ShowAllCli()" class="btn btn-info" style="margin-left: 10px;">Listar CliCat</button>
<button (click)="AddNuevoCli()" class="btn btn-info" style="margin-left: 10px;">Add CliCat</button>
<button (click)="ShowAllPedidos()" class="btn btn-info" style="margin-left: 10px;">Listar Pedidos</button>
<button (click)="AddNuevoPedido()" class="btn btn-info" style="margin-left: 10px;">Add Pedido</button>
<button (click)="ShowAllBoletas()" class="btn btn-info" style="margin-left: 10px;">Listar Boletas</button>
<button (click)="AddNuevaBoleta()" class="btn btn-info" style="margin-left: 10px;">Add Boleta</button>

</div>
<br/>
<router-outlet></router-outlet>
</div>
