 <div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Agregar Producto</h3>
        <div class="card-body">
          <form action="">
            <div class="form-group">
              <label for="">idProducto:</label>
              <input [(ngModel)]="producto.idProductos" name="idProductos" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Nombre</label>
              <input [(ngModel)]="producto.nombre" name="nombre" type="text" class="form-control" >
            </div>
            <div class="form-group">
              <label for="">Precio</label>
              <input [(ngModel)]="producto.precio" name="precio" type="text" class="form-control" >
            </div>   
            <div class="form-group">
              <label for="">Categoria</label>
              <input [(ngModel)]="producto.categoria" name="categoria" type="text" class="form-control" >
            </div> 
            <div class="form-group">
              <label for="">desc</label>
              <input [(ngModel)]="producto.descripcion" name="descripcion" type="text" class="form-control" >
            </div> 
            <div class="form-group">
              <label for="">stockminimo</label>
              <input [(ngModel)]="producto.stockminimo" name="stockminimo" type="text" class="form-control" >
            </div> 
            <div class="form-group">
              <label for="">stockmaximo</label>
              <input [(ngModel)]="producto.stockmaximo" name="stockmaximo" type="text" class="form-control" >
            </div> 
            <div class="form-group">
              <label for="">estado</label>
              <input [(ngModel)]="producto.estado" name="estado"  type="text" class="form-control" >
            </div>    
          <button (click)="Guardar()"class="btn btn-danger" >Guardar</button>
          </form>
        </div>
      </div>
    </div>
      </div>